{% extends "base.html" %}
{% load static %}

{% block title %}Playlist: {{ object.name }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/playlist_detail.css' %}" rel="stylesheet">
  }
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>{{ playlist.name }} <small> {{ playlist.owner.spotify_uid }}</h2>
      {% load account %}
    <hr>
    </div>
  </div>

<!-- Action buttons -->
<div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
       <div class="panel-heading">
          <div class="row">
            <div class="col-md-10">
            <h4>Songs</h4>
            </div>
            <div class="col-md-2">
              <a class="btn btn-default btn-sm" href="{% url 'playlists:update' %}">Update</a>
            </div>
          </div>
        </div>
        <div class="list-group">
          {% for song in playlist.local_songs %}
<!--             <a href="{% url 'playlists:detail' playlist.slug %}" class="list-group-item"> -->
            <a href="#" class="list-group-item">
              <span class="badge">{{ forloop.counter }}</span>
              <h4 class="list-group-item-heading">{{ song.name }}</h4>
              <p>{{ song.artist }} - {{ song.album }}</p>
            </a>
          {% endfor %}

<!--         <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <p>playlist_id: {{ object.playlist_id }}</p>
            </div>
          </div>
        </div> -->
 <!--        <table class="table">
        <thead>
          <tr>
            <td>Position</td>
            <td>Name</td>
            <td>Artist</td>
            <td>Album</td>
          </tr>
        </thead>
        {% for song in playlist.local_songs %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ song.name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            </tr>
           {% endfor %}
          </table> -->
        </div>
      </div>
  
  </div>

</div>
</div>
<!-- End Action buttons -->
</div>
{% endblock content %}

